<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Opret aftale</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<div th:replace="~{fragments/sidebar::sidebar}"></div>

<div class="content">

    <div class="topbar">
        <h1>Opret bil reservation</h1>

        <a th:href="@{/aftaler}">
            <button type="button">← Tilbage</button>
        </a>
    </div>

    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/aftaler/gem}" method="post">

        <input type="hidden"
               name="id"
               th:value="${agreement.id}">

        <label>Vælg kunde</label>

        <select name="customerId" required>

            <option value="0">-- Vælg kunde --</option>

            <option th:each="customer : ${customers}"
                    th:value="${customer.id}"
                    th:text="${customer.name}">
            </option>

        </select>

        <label>Start dato</label>

        <input type="date"
               name="startDate"
               th:value="${agreement.startDate}"
               required>

        <label>Slut dato</label>

        <input type="date"
               name="endDate"
               th:value="${agreement.endDate}"
               required>

        <label>Vælg ledig bil</label>

        <select name="carId" required>

            <option value="0">-- Vælg ledig bil --</option>

            <option th:each="car : ${cars}"
                    th:if="${car.status.name() == 'AVAILABLE'}"
                    th:value="${car.id}"
                    th:text="${car.brand + ' ' + car.model + ' - ' + car.basePrice + ' kr/dag'}">
            </option>

        </select>

        <label>Afhentningssted</label>

        <input type="text"
               name="pickupLocation.name"
               placeholder="Fx København"
               required>

        <label>Afleveringssted</label>

        <input type="text"
               name="returnLocation.name"
               placeholder="Fx Aarhus"
               required>

        <div>

            <button type="submit">Gem</button>

            <a th:href="@{/aftaler}">
                <button type="button">Cancel</button>
            </a>

        </div>

    </form>

</div>

</body>
</html>