<!DOCTYPE html>
<html lang="da"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Skaderapporter</title>

    <link rel="stylesheet"
          th:href="@{/style.css}">
</head>

<body>

<div th:replace="~{fragments/sidebar :: sidebar}">
</div>

<div class="content">

    <h1>Skaderapporter</h1>

    <a th:href="@{/skader/opret}">
        Opret ny skaderapport
    </a>

    <br><br>

    <table>

        <thead>

        <tr>

            <th>ID</th>
            <th>Kunde</th>
            <th>Bil</th>
            <th>Dato</th>
            <th>Beskrivelse</th>
            <th>Skadepris</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="report : ${damageReports}">

            <td th:text="${report.id}">
            </td>

            <td>

                <span th:each="rental : ${rentalAgreements}"
                      th:if="${rental.id == report.rentalId}"
                      th:text="${rental.customerName}">
                </span>

            </td>

            <td>

                <span th:each="rental : ${rentalAgreements}"
                      th:if="${rental.id == report.rentalId}"
                      th:text="${rental.carModel}">
                </span>

            </td>

            <td th:text="${report.reportDate}">
            </td>

            <td th:text="${report.description}">
            </td>

            <td th:text="${report.totalPrice + ' kr.'}">
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>